<% if(locals.user) { %>
    <div id="user-chat-box">
        <ul id="chat-message-list">
            <li class="other-message">
                <span>Other message</span>
            </li>
            <li class="self-message">
                <span>Self message</span>
            </li>
        </ul>
        <div id="message-input-container">
            <input id="user-message" type="text" placeholder="Type message here">
            <button id="send-message" type="submit">Send</button>
        </div>
    </div>
<% } %>