<div class="header-bar">
    <h1>
        Codeial
    </h1>
    
    <ul>
        <% if(locals.user) { %>
            <li>
                <i class="fa-solid fa-user"></i>
                <%= user.name %>
            </li>
            <li>
                <a href="/sign_out">Sign out</a>
            </li>
        <% } else { %>
            <li>
                <a href="/log_in">Log in</a>
            </li>
            <li>
                <a href="/sign_up">Sign up</a>
            </li>
        <% } %>
    </ul>
</div>