<link rel="stylesheet" href="/css/home.css">

<section class="feed-posts">
    <h3>Post</h3>
    <% if(locals.user) { %>
        <form action="/user/post" class="new-post-form" method="post">
            <textarea name="content" cols="50" rows="5" placeholder="Type here to post..."></textarea>
            <!-- <br> -->
            <input type="submit" value="Post">
        </form>
        <% } %>
</section>

<section class="display_user_post">
    <ul class="display-posts">
        <% for(let post of posts) { %>
            <%- include('_post',{content: post}) %>
                <% } %>
    </ul>
    <ul class="display_user">
        <% for(let user of all_user) { %>
            <li>
                <p><%= user.name %></p>
                <p><a href="/user/profile/?id=<%= user.id %>"><i class="fa-solid fa-pencil"></i></a></p>
            </li>
        <% } %>
    </ul>
</section>