.feed-posts {
    border: 10px solid orange;
    border-radius: 10px;
    padding: 5px 10px;
    width: 90%;

    h3 {
        margin: 0%;
        padding: 0%;
        margin-bottom: 10px;
    }

    .new-post-form {
        display: flex;
        align-items: center;

        input {
            padding: 5px 10px;
            background-color: green;
            color: white;
            font-weight: bold;
            font-size: 1.2rem;
            margin-left: 10px;
        }
    }
}

.display_user_post {
    display: flex;
    justify-content: space-around;
    width: 100%;

    .display-posts {
        width: 500px;
        border: 2px solid black;
        margin-top: 10px;
        height: 55vh;
        overflow-y: scroll;
        padding: 5px 10px;

        li {
            background-color: cornsilk;
            height: 150px;
            margin-bottom: 10px;
            padding: 0px 10px;
            box-shadow: 0px 0px 1px 2px cornsilk;
            border-radius: 5px;
            display: flex;
            flex-direction: column;


            h4 {
                margin: 0%;
                padding: 5px 0px 0px 5px;

                i {
                    margin-right: 5px;
                }
            }

            p {
                height: 60px;
                overflow-y: scroll;
            }

            p::-webkit-scrollbar {
                display: none;
            }

            .post-footer {
                height: 20px;
                // background-color: tomato;
                padding: 8px 10px;
                display: flex;
                justify-content: space-between;
                align-items: center;

                .like-comment {
                    width: 60%;
                    height: 50px;
                    display: flex;
                    justify-content: space-between;

                    a {
                        display: flex;
                        flex-direction: column;
                        width: 30%;
                        align-items: center;
                        justify-content: space-around;
                        text-decoration: none;
                        font-size: x-large;
                        padding-bottom: 10px;
                        text-decoration: none;
                        color: black;

                        span {
                            color: black;
                            font-size: 1rem;
                            margin-bottom: 2px;
                        }
                    }
                }
            }

            .delete {
                width: 30%;
                display: flex;
                justify-content: space-around;
                align-items: center;

                a {
                    width: 30%;
                    font-size: x-large;
                }

                i {
                    color: black;
                }

            }

            .delete:hover .dropdown {
                display: block;
            }

        }
    }
}

.display-posts::-webkit-scrollbar {
    display: none;
}

.display_user {
    width: 300px;
    border: 2px solid black;
    margin-top: 10px;
    overflow-y: scroll;
    padding: 5px 10px;
    margin-left: 10px;


    li {
        background-color: cornsilk;
        height: 50px;
        margin-bottom: 10px;
        padding: 0px 10px;
        box-shadow: 0px 0px 1px 2px cornsilk;
        border-radius: 5px;
        display: flex;
        justify-content: space-between;

        p {
            height: 60px;


        }
    }
}

.display_user::-webkit-scrollbar {
    display: none;
}

#chat-box{
    height: 350px;
    width: 300px;
    background: white;
    position: fixed;
    right: 10px;
    bottom: 80px;
    border: 2px solid black;
    box-shadow: 0px 0px 1px 2px whitesmoke;

    #user-chat-box{
        height: 100%;
        width: 100%;

        #chat-message-list{
            list-style: none;
            margin-top: 10px;
            padding: 0%;
            height: 80%;
            width: 100%;
            overflow: auto;

            .other-message{
                text-align: left;
                padding: 5px;
                span{
                    padding: 10px;
                    background-color: orange;
                    color: black;
                }
            }
            .self-message{
                text-align: right;
                padding: 5px;
                span{
                    padding: 10px;
                    background-color: green;
                    color: white;
                }
            }

        }
        #chat-message-list::-webkit-scrollbar {
            display: none;
        }
        #message-input-container{
            height: 12%;
            width: 100%;
            display: flex;

            input{
                width: 70%;
            }
            button{
                width: 30%;
            }
        }
    }
}